# Ignore MSVC++ binary and object directories
Debug/
Release/
Debug wx2.8/
Release wx2.8/
ipch/
Converter/Debug/
Converter/Release/

*.suo
*.sdf
*.opensdf
*.opendb
*.db
*.user
*.rc

# Ignore GKT directories
bin/
.obj/
/Converter/nbproject/private/
/nbproject/private/

gitHash.cpp
