# Ignore MSVC++ binary and object directories
Debug/
Release/
ipch/
Converter/Debug/
Converter/Release/

*.suo
*.sdf
*.opensdf

# Ignore GKT directories
bin/
.obj/
/Converter/nbproject/private/
/nbproject/private/
